<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/edit.css" />
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds/<%= campground._id %>?_method=put"
      method="post"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="campground[title]"
          placeholder="Title"
          value="<%= campground.title %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="campground[location]"
          placeholder="Location"
          value="<%=campground.location %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Campground Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">LKR</span>
          <input
            type="text"
            class="form-control"
            id="price"
            name="campground[price]"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            value="<%= campground.price %>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          class="form-control"
          id="description"
          name="campground[description]"
          placeholder="Description"
          required
        >
        <%= campground.description %> </textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Add More Images</label>
        <br />
        <div class="input-group custom-file mb-3">
          <input
            type="file"
            class="form-control custom-file-label"
            id="inputGroupFile02"
            name="image"
            multiple
          />
          <!-- <label class="input-group-text custom-file-label" for="inputGroupFile02"></label> -->
        </div>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <% campground.images.forEach(function(img, i){ %>
        <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="" />
        <div class="form-check-inline">
          <input
            type="checkbox"
            id="image-<%= i %>"
            name="deleteImages[]"
            value="<%=img.filename%>"
          />
        </div>
        <label for="image-<%= i %>">Delete?</label>
        <% }) %>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Campground</button>
      </div>
      <a href="/campgrounds/<%= campground._id %> " class="btn" id="backCamp"
        >Back to Campground</a
      >
    </form>
  </div>
</div>
