<% layout("/layouts/boilerplate") %>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%= campground._id %>?_method=put"
      method="post"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="campground[title]"
          placeholder="Title"
          value="<%= campground.title %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="campground[location]"
          placeholder="Location"
          value="<%=campground.location %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Add Images</label>
        <br />
        <input type="file" name="image" id="image" multiple />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Campground Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">LKR</span>
          <input
            type="text"
            class="form-control"
            id="price"
            name="campground[price]"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            value="<%= campground.price %>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          class="form-control"
          id="description"
          name="campground[description]"
          placeholder="Description"
          required
        >
        <%= campground.description %> </textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Campground</button>
      </div>
      <a href="/campgrounds/<%= campground._id %> ">Back to Campground</a>
    </form>
  </div>
</div>
