<!-- Common Layout -->
<% layout("/layouts/boilerplate") %>
<h1>All Campgrounds</h1>
<div>
  <a href="/campgrounds/new">Add Campground</a>
</div>

<% for(let campground of campgrounds){ %>
<div class="card" mb-3>
  <div class="row">
    <div class="col-md-4">
      <% if(campground.images.length) { %>
      <img class="img-fluid" alt="" src="<%= campground.images[0].url %> " />
      <% } else { %>
      <img
        class="img-fluid"
        alt=""
        src="https://res.cloudinary.com/drgl3d5b4/image/upload/v1665817863/YelpCamp/bkkp8keqxbdjlykyemtm.jpg"
      />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= campground.location %></small>
        </p>
        <a href="/campgrounds/<%= campground._id %> " class="btn btn-primary"
          >View <%= campground.title %>
        </a>
      </div>
    </div>
  </div>
</div>

<% } %>
